{% load static %}

<!-- Stylesheet/font resource files -->
<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Common -->
<link rel="stylesheet" href="{% static "common.css" %}" />

<!-- Scripts -->
<!-- HTTP Request library -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Popup library -->
<script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.min.js"></script>
<!-- Dashboard script -->
<script src="{% static "/script/dashboard.js" %}"></script>