<!DOCTYPE html>
<html>
<head>
        {% load static %}
    <title>Study Planner</title>
    {% include "common_head.html" %}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static "createTask.css" %}" />
    <script src="{% static "script/createTask.js" %}"></script>
</head>
<body>
    {% include "dashboard.html" %}
    <div class = "background" >
        <div id= "forms">
        <form action="processtask" method="POST">
            <div class="textfield">
                <label for id ="name">Task name:</label> 
                <input type="text" class="form-control" name="taskName" id= "name">
            </div>
            <div class="textfield">
                <label for id ="duration">Duration:</label> 
                <input type="text" class="form-control" name="duration" id ="duration">
            </div>


            <div class="dropdown">
                <label for="module">Module</label>
                <select id="module" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>

            <div class="dropdown">
                <label for="assessment">Assessment</label>
                <select id="assessment" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div><br>

            <div class="dropdown">
                <label for="dependances">Dependances</label>
                <select id="dependances" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>

            <div class="textfield">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            
          </form>
          
        </div>
    </div>
</body>
</html>