<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Study Planner - Create Account</title>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="{% static "createaccount.css" %}" />
</head>

<body>
    <div class="form-align-center">
        <div class="form-container">
            <a href="/login" class="back">< BACK TO LOGIN</a>
            <h1>Create your account</h1>
            <form action="/processaccount/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="createaccount" />
                <div class="form-group">
                    <label for="input-email">Email</label>
                    <input type="email" name ="email" class="form-control form-control-lg" aria-describedby="emailHelp" placeholder="Email">
                    <small id="email-error" class="form-text text-danger hide">Please enter a valid email.</small>
                </div>

                <div class="form-group">
                    <label for="input-fname">First Name</label>
                    <input type="text" name ="fname" class="form-control form-control-lg"  aria-describedby="emailHelp" placeholder="First Name">
                    <small id="fname-error" class="form-text text-danger hide">First name must not be empty.</small>
                </div>

                <div class="form-group">
                    <label for="input-lname">Last Name</label>
                    <input type="text" name ="lname" class="form-control form-control-lg"  aria-describedby="emailHelp" placeholder="Last Name">
                    <small id="name-error" class="form-text text-danger hide">Last name must not be empty.</small>
                </div>

                <div class="form-group">
                    <label for="input-password">Password</label>
                    <input type="text" name ="password" class="form-control form-control-lg" aria-describedby="emailHelp" placeholder="Password">
                    <small id="password-error" class="form-text text-danger hide">Password must be at least 8 characters long.</small>
                </div>

                <input type="submit" class="btn btn-success" />

            </form>
            <p class="text-danger">{{ error }}</p>
        </div>
    </div>
</body>

</html>