<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Dashboard Test</title>
    {% include "common_head.html" %}
    <script src="{% static "script/apitest.js" %}"></script>
</head>
<body>
    <div class="content">
        {% include "dashboard.html" %}
        <div class="center-content">
            <h1>Center content</h1>
            <button onclick="getUserProfile('{{ csrf }}')">GET USER PROFILE</button>
            <div id="user-profile-content">

            </div>
        </div>
    </div>
</body>
</html>