{% load static %}
<link rel="stylesheet" href="{% static "dashboard.css" %}" />
<div class="dashboard-container">
    <div class="user-panel dashboard-sub">
        <div class="user-picture-container">
            <img src="{% static "/img/display.png" %}" alt="User Profile Picture" />
        </div>
        <div class="user-info-container">
            <p class="user-name">{{ user.name|default:"Your Name" }}</p>
            <p class="user-email">{{ user.email|default:"email@domain.com" }}</p>
        </div>
    </div>
    <div class="dashboard-nav dashboard-sub">
        <ul>
            {% for nav in navigation %}
            <li>
                <a href="{{ nav.url }}" {% if active == nav.title %} class="active" {% endif %}>
                    <img src="{% static nav.icon %}" alt="Icon">
                    <h2>{{ nav.title }}</h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div onclick="changeSemester()">Change Semester</div>
    <div class="dashboard-sub dashboard-control">
        <div class="dashboard-control-container">
            <ul>
                <li class="dashboard-control-list">
                    <form id="upload-hubfile-form" method="POST" action="/uploadhubfile/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="hubfile" id="hubfile-input" class="nodisplay" />
                        <button id="hubinput-button" type="button" onclick="uploadHubfile()">
                            <img src="{% static "/img/icon_open.png" %}" alt="Open File" />
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="obscure-bg" id="change-semester" style="display:none;">
    <form method="POST" id="change-semester-form">
        {% csrf_token %}
        <div style="font-size: 20px; font-weight: bold;margin-bottom: 20px;">Change semester</div>
        <div style="margin-bottom: 10px;">Current semester: {{ semesters.current }}</div>
        <select name="semester" id="semester" style="margin-bottom: 10px;">
            {% for option in semesters.semesters %}
                <option value="{{ option.id }}" id="option-{{ option.id }}">{{ option.name }}</option>
            {% endfor %}
        </select>
        <div>
            <button type="submit" class="save-button">Save</button>
            <button type="button" class="cancel-button" onclick="cancelChangeSemester()">Cancel</button>
        </div>
        
    </form>
</div>