<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Deadlines</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static "common.css" %}" />
    <link rel="stylesheet" href="{% static "deadlines.css" %}" />
</head>
<body>
    {% include "dashboard.html" %}
    <div class="dashboard-content">
        <div class="deadlines-container-all">
            <div class="deadlines-grid-unit dgu-1">
                <div class="deadlines-title">
                    Upcoming Deadlines
                </div>
                <div class="deadlines-entry">
                    A dreadful deadline
                    <div class="deadlines-date-progress-container">
                        23/10/2019
                        <div class="progress-bar">
                            <div class="progress-bar-fill" style="width:35%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="deadlines-entry">
                    A dreadful deadline
                    <div class="deadlines-date-progress-container">
                        23/10/2019
                        <div class="progress-bar">
                            <div class="progress-bar-fill" style="width:65%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deadlines-grid-unit dgu-2">
                <div class="deadlines-title">
                    Deadlines in Progress
                </div>
            </div>
            <div class="deadlines-grid-unit dgu-3">
                <div class="deadlines-title">
                    Missed Deadlines
                </div>
            </div>
            <div class="deadlines-grid-unit dgu-4">
                <div class="deadlines-title">
                    Completed Deadlines
                </div>
            </div>
        </div>
    </div>
</body>
</html>