<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Gantt Chart</title>
    {% include "common_head.html" %}
    <link rel="stylesheet" href="http://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.css" type="text/css"> 
    <script src="http://cdn.dhtmlx.com/gantt/edge/dhtmlxgantt.js"></script>
    <link rel="stylesheet" href="{% static "ganttchart.css" %}" type="text/css"> 
    <script type="text/javascript">
        chartdata = {{ ganttdata|safe }};
    </script>
    <script src="{% static "script/ganttchart.js" %}"></script>
</head>
<body>
    <div class="content">
        {% include "dashboard.html" %}
        <div class="dashboard-content">
            <div class="center-content">
                <h1 class="display-4">Gantt Chart</h1>
                <div class="gantt-container">
                    <div id="chart">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>