<!DOCTYPE html>

<html>
    <head>
        <title>Module Information</title>
        {% include "common_head.html" %}

        {% load static %}
        <link rel="stylesheet" href="{% static "moduleInformation.css" %}" />
    </head>

    <body>
        {% include "dashboard.html" %} <!-- Includes the side panel within the modules page -->
            <div id="box">
                <div id="summary">
                    {{name}}
                    <br>
                    {{code}}
                    <br>
                    {{desc}}
                </div>
    
                <div class="card-columns">
                    <h1>Assessments</h1>
                    {% for assessment in assessments %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{assessment.assessmentName}}</h5>
                                <p class="card-text">
                                    Weight : {{assessment.assessmentWeight}} <br>
                                    Start Date : {{assessment.assessmentStart}} <br>
                                    Deadline : {{assessment.assessmentDeadline}}
                                </p>
                            </div>
                        </div>
                    
                    {% endfor %}
                </div>
            </div>
        
            
    </body>
</html>