*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

.nodisplay{
    display: none;
}

.dashboard-content {
    width: auto;
    background-color: rgb(230, 230, 230);
    overflow: auto;
    height: 100vh;
    position: relative;
    overflow-y: auto;
}