.dashboard-container{
    background: rgb(57, 61, 72);
    color: whitesmoke;
    max-width: 512px;
    min-width: 200px;
    width: 15%;
    height: 100vh;
}

.dashboard-sub{
    width: 100%;
}

.user-panel{
    background: rgba(120, 120, 120, 0.1);
    text-align: center;
}

.user-picture-container{
    display: inline-block;
    width: 40%;
}

.user-picture-container img{
    display: inline-block;
    width: 84px;
    height: auto;
    border-radius: 100%;
}

.user-info-container{
    display: inline-block;
    width: 40%;
}