.dashboard-container{
    background: rgb(57, 61, 72);
    color: whitesmoke;
    max-width: 320px;
    min-width: 250px;
    width: 16%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: left;
}

.dashboard-sub{
    width: 100%;
}

.user-panel{
    background: rgba(120, 120, 120, 0.1);
    padding: 2em;
    display: flex;
    align-items: center;
}

.user-picture-container{
    display: inline-block;
    width: 40%;
}

.user-picture-container img{
    display: inline-block;
    width: 64px;
    height: auto;
    border-radius: 100%;
}

.user-info-container{
    display: inline-block;
    width: 40%;
}

.user-info-container p{
    margin: 0;
}

.user-name{
    font-size: 14px;
}

.user-email{
    font-size: 12px;
}

.dashboard-nav ul{
    list-style-type: none;
}

.dashboard-nav li{
    display: block;
}

.dashboard-nav a{
    display: inline-flex;
    width: 100%;
    color: whitesmoke;
    font-weight: normal;
    text-decoration: none;
    align-items: center;
    padding: 1em;
    transition: 0.1s;
    border-left: 8px solid transparent;
}

.dashboard-nav a:hover{
    background: rgba(0, 0, 0, 0.1);
}

.active{
    border-left-color: #0279b8 !important;
    background-color: rgba(30, 30, 30, 0.1);
}

.dashboard-nav img{
    display: inline-block;
    height: 80%;
    width: auto;
}

.dashboard-nav h2{
    font-weight: normal;
    display: inline-block;
    font-size: 1.2em;
    padding-left: 0.5em;
}

.dashboard-control{
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    position:relative;
}

.dashboard-control-container ul{
    list-style-type: none;
}

.dashboard-control-list{
    padding: 0 4px;
}

.dashboard-control-list button{
    background: transparent;
    /* border-radius: 8px; */
    border: none;
    transition: 0.1s;
}

.dashboard-control-list button:hover{
    /* border: 1px solid white; */
    background-color: rgba(30, 30, 30, 0.1);
}

#settings-menu{
    display:none;
    position: absolute;
    bottom: 32px;
    right:0px;

}

.settings-menu-list{
    width:220px;
    background-color: rgb(39, 42, 51);
    color:white;
}

.settings-menu-list button{
    background: transparent;
    border: none;
    width:100%;
    color:white;
    padding: 10px 5px 10px 5px;
    text-align: left;
}

.settings-menu-list button:hover{
    background-color: rgba(30, 30, 30, 0.6);
}

.settings-menu-list img{
    height: 32px;
    padding: 0px 0px 0px 3px;
}

.dashboard-control-list img{
    height: 32px;
}


/* Change semester */
.obscure-bg{
    background-color: rgba(0, 0, 0, 0.80);
    position: fixed;
    top:0px;
    left: 0px;
    right:0px;
    bottom: 0px;
    z-index: 100;
}
#change-semester-form{
    position: fixed;
    width: 500px;
    height: 180px;
    top: 50%;
    left: 50%;
    margin-top: -90px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    background-color: rgb(220, 220, 220);
    padding:10px 30px;
}
#change-semester-form select{
    min-width: 200px;
}

.save-button{
    font-size: 14px;
    background-color: #0066ff;
    padding: 0px 4px 0px 4px;
    margin: 0px 5px 0px 2px;
    border: none;
    border-radius: 5px;
    color:white;
}
.save-button:hover{
    background-color: #003d99;
}

.cancel-button{
    font-size: 14px;
    background-color: #cc0000;
    padding: 0px 4px 0px 4px;
    border: none;
    border-radius: 5px;
    color:white;
}
.cancel-button:hover{
    background-color: #660000;
}