.center-content{
    display: inline-block;
    height: 100vh;
    width: 100%;
}

.gantt-container{
    display: inline-block;    
    width: 100%;
    height:92%;
}

#chart{
    height: 100%;
}

.gantt_add{
    display: none;
}

div[aria-label="New task"]{
    display: none;
}

.milestone-task::after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: gold;
    position: relative;
    left: calc(100% - 8px);
    top: -2em;
    transform: rotateZ(45deg);
}