.vertically-center{
    background-color:#191819;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100vh;
}


.loginContainer{
    background-color: #323232;
    border-radius: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width:35%;
    height:67%;
    padding:50px 60px;
    position: relative;
    -webkit-box-shadow: 0px 0px 23px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 10px rgba(0,0,0,0.75);
}

.userBox{
   
    
    display: inline-block;
}
h1{
    height:10%;
    color:whitesmoke;
}
form{

    margin-top:20%;
}

.form-group{
    color:whitesmoke;
    margin-top:30px;
}

.btn-success{
    margin-top:10%;
    margin-left: 37.5%;
}



a{
    color:whitesmoke;
    position: relative;
    top:1em;
    margin-left: 40%;
    font-size: 15px;
}